---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$title-font-family: "Playfair Display", 'Times New Roman', serif;
$base-font-family: "Fira Sans", Helvetica, Arial, sans-serif;
$base-font-size:   2rem;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.8;

$spacing-unit:     2rem;
// Color palette
$accent-color:     #1DA1F2;
$text-color:       #2e2e2e;
$white-color:      #fdfdfd;
$blue-color:       #46bcec;
$old-blue-color:   #043ebb;
$navy-color:       #070b2e;
$red-color:        #e0021f;
$green-color:      #47edc9;
$grey-color:       #e5e5e5;
$dark-grey:        #2e2e2e;
$dark-grey-7:      rgba(46, 46, 46, 0.7);
$light-grey:       lighten($grey-color, 6%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1440px;

$on-mobile:        600px;
$on-tablet:        800px;
$on-desktop:       1020px;


// Use media queries like this:
// @include media-query($on-mobile) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
