---
layout: default
title: Home
---
<!-- Homepage feature -->
<div class="home">
  <section class="home-feature">
    <header class="page-header no-margin">
      <div class="mask"></div>
      <img src="{{ 'home' | append: '.jpg' | prepend: '/images/featured/' | prepend: site.baseurl }}" alt="{{ page.title | append: ' featured image' }}" class="page-hero" />
      <img src="{{ 'home' | append: '-tn.jpg' | prepend: '/images/featured/' | prepend: site.baseurl }}" alt="{{ page.title | append: ' featured image' }}" class="mobile-hero" />
      <div class="text-box">
        <p>{{ site.description }}</p>

        <nav class="menu">
          <a href="{{ '/' | prepend: site.baseurl }}" class="nav-title {% if site.title.size > 9 %}long-title{% endif %}"><h1>{{ site.title }}</h1></a>
          {% for link in site.data.nav-links %}
            <a class="nav-link" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
          {% endfor %}
          <div class="nav-border"></div>
        </nav>
      </div>
    </header>
  </section><!-- End homepage feature -->
  <!-- Homepage news selection -->
  <section id="homepage-news">
    <ul class="post-list">
      <a href="{{ '/blog/index.html' | prepend: site.baseurl }}" title="{{ site.title | prepend: 'Latest News from ' }}">
        <h2 class="home-header">Latest News</h2>
      </a>
      {% for post in site.posts | limit:3 %}
      <li>
        <a href="https://getpocket.com/save?url={{ post.url | prepend: site.baseurl | prepend: site.url }}&title={{ post.title }}" title="Save to Pocket" target="_blank">
          <span class="pocket-icon">
            <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M12.533 6.84L8.77 10.45c-.213.204-.486.306-.76.306-.273 0-.547-.102-.76-.306L3.488 6.84c-.437-.418-.45-1.113-.032-1.55.42-.438 1.114-.452 1.55-.033l3.005 2.88 3.005-2.88c.436-.42 1.13-.405 1.55.032.42.437.405 1.13-.032 1.55zm3.388-5.028c-.207-.572-.755-.956-1.363-.956H1.45c-.6 0-1.144.376-1.357.936-.063.166-.095.34-.095.515v4.828l.055.96c.232 2.184 1.365 4.092 3.12 5.423.03.024.063.047.095.07l.02.015c.94.687 1.992 1.152 3.128 1.382.524.105 1.06.16 1.592.16.492 0 .986-.046 1.472-.136.058-.013.116-.023.175-.037.016-.002.033-.01.05-.018 1.088-.237 2.098-.69 3.004-1.352l.02-.014.096-.072c1.754-1.33 2.887-3.24 3.12-5.423l.054-.96V2.307c0-.167-.02-.333-.08-.495z" fill-rule="nonzero"/></svg>
          </span>
        </a>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <span class="post-meta">&nbsp;|&nbsp;</span>
        <span class="post-meta">{{ post.content | number_of_words | divided_by: 160 | floor | append: ' minute read' }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          <p>{{ post.excerpt | truncatewords: 30 }}</p>
        </a>

        <a href="{{ post.url | prepend: site.baseurl }}" class="index-button">read on...</a>
      </li>
      {% endfor %}
    </ul>

    <a href="{{ '/blog/index.html' | prepend: site.baseurl }}" title="{{ site.title | prepend: 'Latest News from ' }}" class="button">See All News</a>
  </section><!-- End homepage news selection -->
  <!-- Homepage services selection -->
  <section id="services-container" class="homepage-services">
    <a href="{{ '/services' | prepend: site.baseurl }}" title="{{ site.title | append: ' Services' }}">
      <h2 class="home-header">Services</h2>
    </a>
    <ul class="grid-container">
      {% for service in site.services limit:3 %}
      <a href="{{ service.url | prepend: site.baseurl }}">
        {% if forloop.length <= 2 %}
        <li class="one-whole col">
        {% else %}
        <li class="one-third col{% if forloop.last == true %} final-col{% endif %}">
        {% endif %}
          <div class="tn-container">
            <img src="{{ 'services-tn.jpg' | prepend: '/images/featured/' | prepend: site.baseurl }}" alt="{{  }}" />
            <div class="mask"></div>
            <div class="text-box">
              <h1>{{ service.title }}</h1>
              {% if service.description %}<p>{{ service.description }}</p>{% endif %}
            </div>
          </div>
        </li>
      </a>
      {% endfor %}

      <a href="{{ '/services' | prepend: site.baseurl }}" title="{{ site.title | prepend: 'See All ' | append: ' Services' }}" class="button home-button">See All Services</a>
    </ul>
  </section><!-- End homepage services selection -->
  <!-- Homepage events selection -->
  <section id="homepage-events">
    <ul class="events-index">
      <a href="{{ '/events' | prepend: site.baseurl }}" title="{{ site.title | append: ' Events' }}">
        <h2 class="home-header">Events</h2>
      </a>
      {% for event in site.events limit:3 %}
      <a href="{{ event.url | prepend: site.baseurl }}">
        <li class="event">
          <!-- Social shares -->
          <ul class="social-share-list">
            <a class="share-item" id="social-facebook" href="https://www.facebook.com/sharer/sharer.php?t={{ event.title }}&u={{ event.url | prepend: site.baseurl | prepend: site.url }}" target="_blank" title="Share on Facebook">
              <li class="share-facebook">
                <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M15.117 0H.883C.395 0 0 .395 0 .883v14.234c0 .488.395.883.883.883h7.663V9.804H6.46V7.39h2.086V5.607c0-2.066 1.262-3.19 3.106-3.19.883 0 1.642.064 1.863.094v2.16h-1.28c-1 0-1.195.476-1.195 1.176v1.54h2.39l-.31 2.416h-2.08V16h4.077c.488 0 .883-.395.883-.883V.883C16 .395 15.605 0 15.117 0" fill-rule="nonzero"/></svg>
              </li>
            </a>

            <a class="share-item" href="https://twitter.com/intent/tweet?text={{ event.title }}&url={{ event.url | prepend: site.baseurl | prepend: site.url }}" target="_blank" title="Share on Twitter">
              <li class="share-twitter">
                <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M16 3.038c-.59.26-1.22.437-1.885.517.677-.407 1.198-1.05 1.443-1.816-.634.375-1.337.648-2.085.795-.598-.638-1.45-1.036-2.396-1.036-1.812 0-3.282 1.468-3.282 3.28 0 .258.03.51.085.75C5.152 5.39 2.733 4.084 1.114 2.1.83 2.583.67 3.147.67 3.75c0 1.14.58 2.143 1.46 2.732-.538-.017-1.045-.165-1.487-.41v.04c0 1.59 1.13 2.918 2.633 3.22-.276.074-.566.114-.865.114-.21 0-.416-.02-.617-.058.418 1.304 1.63 2.253 3.067 2.28-1.124.88-2.54 1.404-4.077 1.404-.265 0-.526-.015-.783-.045 1.453.93 3.178 1.474 5.032 1.474 6.038 0 9.34-5 9.34-9.338 0-.143-.004-.284-.01-.425.64-.463 1.198-1.04 1.638-1.7z" fill-rule="nonzero"/></svg>
              </li>
            </a>

            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ event.url | prepend: site.baseurl | prepend: site.url }}&title={{ event.title }}{% if post.excerpt %}&summary={{ post.excerpt }}{% endif %}&source={{ site.url | prepend: site.baseurl }}" title="Share on LinkedIn">
              <li class="share-linkedin">
                <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M13.632 13.635h-2.37V9.922c0-.886-.018-2.025-1.234-2.025-1.235 0-1.424.964-1.424 1.96v3.778h-2.37V6H8.51V7.04h.03c.318-.6 1.092-1.233 2.247-1.233 2.4 0 2.845 1.58 2.845 3.637v4.188zM3.558 4.955c-.762 0-1.376-.617-1.376-1.377 0-.758.614-1.375 1.376-1.375.76 0 1.376.617 1.376 1.375 0 .76-.617 1.377-1.376 1.377zm1.188 8.68H2.37V6h2.376v7.635zM14.816 0H1.18C.528 0 0 .516 0 1.153v13.694C0 15.484.528 16 1.18 16h13.635c.652 0 1.185-.516 1.185-1.153V1.153C16 .516 15.467 0 14.815 0z" fill-rule="nonzero"/></svg>
              </li>
            </a>
          </ul><!-- End social shares -->
          <span class="event-meta">{{ event.start-date | date: '%R, %b %-d, %Y' }}</span>
          <a href="{{ event.url | prepend: site.baseurl }}"><h2>{{ event.title }}</h2></a>

          {% if event.location %}
          <span class="event-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
              <path d="M3 0c-1.66 0-3 1.34-3 3 0 2 3 5 3 5s3-3 3-5c0-1.66-1.34-3-3-3zm0 1c1.11 0 2 .9 2 2 0 1.11-.89 2-2 2-1.1 0-2-.89-2-2 0-1.1.9-2 2-2z" transform="translate(1)" />
            </svg>
          </span>
          <span>{{ event.location.name }}</span>
          {% endif %}

          {% if event.description %}<p>{{ event.description }}</p>{% endif %}

          <a href="{{ event.url | prepend: site.baseurl }}" class="index-button">see event details</a>
        </li>
      </a>
      {% endfor %}
    </ul>

    <a href="{{ '/events' | prepend: site.baseurl }}" title="{{ site.title | prepend: 'See All ' | append: ' Events' }}" class="button">See All Events</a>
  </section><!-- End homepage events selection -->
  <!-- Homepage issues selection -->
  <section id="services-container" class="homepage-issues">
    <a href="{{ '/issues' | prepend: site.baseurl }}" title="{{ site.title | append: ' Issues' }}">
      <h2 class="home-header">Issues</h2>
    </a>
    <ul class="grid-container">
    {% for issue in site.issues limit:3 %}
      {% unless issue.title == page.title %}
      <a href="{{ issue.url | prepend: site.baseurl }}">
        {% if forloop.length <= 2 %}
        <li class="one-whole col">
        {% else %}
        <li class="one-third col{% if forloop.last == true %} final-col{% endif %}">
          {% endif %}
          <div class="tn-container">
            <img src="{{ 'issues-tn.jpg' | prepend: '/images/featured/' | prepend: site.baseurl }}" alt="{{  }}" />
            <div class="mask"></div>
            <div class="text-box">
              <h1>{{ issue.title }}</h1>
              {% if issue.description %}<p>{{ issue.description }}</p>{% endif %}
          </div>
        </div>
      </li>
      </a>
      {% endunless %}
    {% endfor %}
    <a href="{{ '/issues' | prepend: site.baseurl }}" title="See All Issues" class="button home-button">See All Issues</a>

    </ul>
  </section><!-- End homepage issues selection -->
</div>
