<head>
  <!-- Basics -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{% for member in site.data.team-members %}{{ member.name }}{% unless forloop.last == true %}, {% endunless %}{% endfor %}">

  <meta name="robots" content="index, follow">
  <!-- Schema.org -->
  <meta itemprop="name" content="{{ page.title | append: ' | ' }}{{ site.title }}">
  <meta itemprop="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | truncate: 160 }}{% endif %}">
  <!-- Twitter -->
  {% if page.img-path %}<meta itemprop="image" content="{{ page.img-path | prepend: site.baseurl | prepend: site.url }}" />{% endif %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="{{ site.twitter_username }}">
  <meta name="twitter:title" content="{{ page.title | append: ' | '}}{{ site.title }}">
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% elsif page.description %}{{ page.description }}{% else %}{{ site.description | truncate: 160 }}{% endif %}">
  <meta name="twitter:creator" content="{% for member in site.data.team-members %}{{ member.name }}{% unless forloop.last == true %}, {% endunless %}{% endfor %}">
  <!-- Twitter Summary card images must be at least 120x120px -->
  <meta name="twitter:image" content="{% if page.img-path %}{{ "{{ page.img-path | prepend: site.baseurl | prepend: site.url }}"{% else %}{{ "/images/the-sunflower-1.jpg" | prepend: site.baseurl | prepend: site.url }}{% endif %}">
  <!-- Open Graph -->
  <meta property="og:title" content="{{ site.title | append: ' | '}}{{ page.title }}">
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}" />
  {% if page.img-path %}<meta property="og:image" content="{{ page.img-path | prepend: site.baseurl | prepend: site.url }}" />{% endif %}
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% elsif page.description %}{{ page.description }}{% else %}{{ site.description | truncate: 160 }}{% endif %}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="article:tag" content="{{ page.title }}" />
  <meta property="fb:admins" content="Facebook numberic ID" />
  <!-- Favicons, fonts & stylesheets -->
  <link rel="shortcut icon" href="">
  <link rel="apple-touch-icon" href="">
  <link rel="icon" type="image/png" href="" />
  <title>{{ page.title | append: ' | '}}{{ site.title }}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% elsif page.description %}{{ page.description }}{% else %}{{ site.description | truncate: 160 }}{% endif %}">

  <link href='https://fonts.googleapis.com/css?family=Playfair+Display:700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Fira+Sans:300,300italic,400,400italic' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="{{ "/css/normalize.css" | prepend: site.baseurl | prepend: site.url  }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl | prepend: site.url }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
