<!-- Related sections -->
<section id="related-sections">
  <h2>Related Sections</h2>
  <ul class="grid-container">
    {% assign related = page.related | split: ' ' %}
    {% for i in related %}
    {% assign oddTest = forloop.length | modulo: 2 %}
    <a href="{{ i | prepend: '/' | prepend: site.baseurl }}">
      <li class="one-third col{% if oddTest == 1 and forloop.last == true %} final-col{% endif %}">
          <div class="tn-container">
            <img src="{{ i | append: '-tn.jpg' | prepend: '/images/featured/' | prepend: site.baseurl }}">
            <div class="mask"></div>
              <div class="text-box">
                <h2 class="related-title">{{ i | capitalize }}</h2>
              </div>
          </div>
      </li>
    </a>
    {% endfor %}
  </ul>
</section><!-- End related sections -->
