---
layout: default
title: News
---
<h1 class="page-heading">News</h1>
<!-- Blog / news index -->
<ul class="post-list">
  {% for post in paginator.posts %}
  <li>
    <a href="https://getpocket.com/save?url={{ post.url | prepend: site.baseurl | prepend: site.url }}&title={{ post.title }}" title="Save to Pocket" target="_blank">
      <span class="pocket-icon">
        <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M12.533 6.84L8.77 10.45c-.213.204-.486.306-.76.306-.273 0-.547-.102-.76-.306L3.488 6.84c-.437-.418-.45-1.113-.032-1.55.42-.438 1.114-.452 1.55-.033l3.005 2.88 3.005-2.88c.436-.42 1.13-.405 1.55.032.42.437.405 1.13-.032 1.55zm3.388-5.028c-.207-.572-.755-.956-1.363-.956H1.45c-.6 0-1.144.376-1.357.936-.063.166-.095.34-.095.515v4.828l.055.96c.232 2.184 1.365 4.092 3.12 5.423.03.024.063.047.095.07l.02.015c.94.687 1.992 1.152 3.128 1.382.524.105 1.06.16 1.592.16.492 0 .986-.046 1.472-.136.058-.013.116-.023.175-.037.016-.002.033-.01.05-.018 1.088-.237 2.098-.69 3.004-1.352l.02-.014.096-.072c1.754-1.33 2.887-3.24 3.12-5.423l.054-.96V2.307c0-.167-.02-.333-.08-.495z" fill-rule="nonzero"/></svg>
      </span>
    </a>
    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
    <span class="post-meta">&nbsp;|&nbsp;</span>
    <span class="post-meta">{{ post.content | number_of_words | divided_by: 160 | floor | append: ' minute read' }}</span>

    <h2>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>

    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
      <p>{{ post.excerpt | truncatewords: 30 }}</p>
    </a>

    <a href="{{ post.url | prepend: site.baseurl }}" class="index-button">read on...</a>
  </li>
  {% endfor %}
</ul><!-- End blog / news index -->
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="paginate-link active previous" title="Previous Page">PREV</a>
  {% else %}
    <span class="paginate-link previous">PREV</span>
  {% endif %}
  <span class="page_number ">{{ paginator.page }} / {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="paginate-link active next" title="Next Page">NEXT</a>
  {% else %}
    <span class="paginate-link next">NEXT</span>
  {% endif %}
</div><!-- End pagination -->

<!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
