---
layout: page
title: Services
description: add a short introduction to the services you offer here
related: issues resources events
permalink: /services/
---
<section id="services-container">
  <!-- Services index -->
  <ul class="grid-container">
  {% for service in site.services %}
  {% assign oddTest = forloop.length | modulo: 2 %}
    {% unless service.title == page.title %}
    <a href="{{ service.url | prepend: site.baseurl }}">
      {% if forloop.length == 2 %}
      <!-- Service item -->
      <li class="one-whole col">
      {% elsif forloop.length == 3 %}
      <!-- Service item -->
      <li class="one-half col">
      {% else %}
      <!-- Service item -->
      <li class="one-third col {% if oddTest == 1 %}final-col{% endif %}">
        {% endif %}
        <div class="tn-container">
          <img src="{{ page.title | downcase | append: '-tn.jpg' | prepend: '/images/featured/' | prepend: site.baseurl }}" alt="{{  }}" />
          <div class="mask"></div>
          <div class="text-box">
            <h2>{{ service.title }}</h2>
            {% if service.description %}<p>{{ service.description }}</p>{% endif %}
        </div>
      </div>
    </li><!-- End service item -->
    </a>
    {% endunless %}
  {% endfor %}
  </ul><!-- End services index -->
</section>

{% include related-sections.html %}
