---
layout: default
---
<article class="page">
  <header class="page-header">
    <div class="row">
      <div id="map_wrapper">
        <div id="map_canvas" style="width:100%; height:100%"></div>
      </div>
    </div>
  </header>

  <div class="event-texts" itemscope itemtype="http://schema.org/Event">
    <h2 itemprop="name">{{ page.title }}</h1>

    {% include social-shares.html %}

    <div class="event-dates">
      <span class="event-icon clock">
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <svg viewBox="0 0 26 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="2" fill="none" fill-rule="evenodd" sketch:type="MSPage">
              <g id="clock_icon" sketch:type="MSLayerGroup" transform="translate(1.000000, 1.000000)" stroke="#979797">
                  <circle id="Oval-1" sketch:type="MSShapeGroup" cx="12" cy="12" r="12"></circle>
                  <path d="M11.5,12 L7,7" id="Line" stroke-linecap="square" sketch:type="MSShapeGroup"></path>
                  <path d="M12,13.2288658 L18.130032,6" stroke-width="1" id="Line-Copy" stroke-linecap="square" sketch:type="MSShapeGroup"></path>
              </g>
          </g>
        </svg>
      </span>
      <span class="event-meta">{{ page.start-date | date: '%R, %b %-d, %Y' }}</span>
      {% if page.end-date %}<span class="event-meta">{{ page.end-date | date: '%R, %b %-d, %Y' | prepend: ' - ' }}</span>{% endif %}
    </div>

    <div class="event-location">
      <span class="event-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
          <path d="M3 0c-1.66 0-3 1.34-3 3 0 2 3 5 3 5s3-3 3-5c0-1.66-1.34-3-3-3zm0 1c1.11 0 2 .9 2 2 0 1.11-.89 2-2 2-1.1 0-2-.89-2-2 0-1.1.9-2 2-2z" transform="translate(1)" />
        </svg>
      </span>
      <span class="event-meta" itemprop="location">{% for location in page.locations %}{{ location.name }}{% unless forloop.last == true %} / {% endunless %}{% endfor %}</span>
    </div>

    <p itemprop="description">{{ page.description }}</p>
  </div>
</article>

<script>
    var markers = [
        {% for location in page.locations %}
            ['{{ location.name }}', {{ location.latitude }}, {{ location.longitude }}]
            {% unless forloop.last %},{% endunless %}
        {% endfor %}
    ];
</script>

<script>
    var map;

    function initMap() {
        var map;
        var bounds = new google.maps.LatLngBounds();
        var mapOptions = {
            styles: [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#46bcec"},{"visibility":"on"}]}]

        };

        // Display a map on the page
        map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        map.setTilt(45);

        // Loop through our array of markers and place each one on the map
        for (var i = 0; i < markers.length; i++ ) {
            var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
            bounds.extend(position);
            marker = new google.maps.Marker({
                position: position,
                map: map,
                title: markers[i][0]
            });

            // Automatically center the map fitting all markers on the screen
            map.fitBounds(bounds);
        }

    }

    google.maps.event.addDomListener(window, 'load', initMap);
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ site.api_keys.google }}&callback=initMap"
  type="text/javascript"></script>
